.team {
    height: 10%;
    text-align: center;
    align-items: center;
}

.team__container {
    border-radius: 10rem;
    border: 2px solid;
    border-color: var(--color-primary);
    align-items: center;
    height: fit-content;
    width: 60%;
}

.team__item {
    background: var(--color-bg-variant);
    text-align: center;
    border-radius: 2rem;
    border: 1px solid transparent;
    height: 20rem;
    width: 8rem;
}

.team__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.team__item__image{
    margin-top: 1rem;
    border-radius: 7rem;
    margin-left: 10rem;
    align-items: center;
    overflow: hidden;
    height: 15rem;
    width: 15rem;
}

.team__item h4 {
    margin: 1.2rem 0 0 0;
    text-align: center;
    size: 1rem;
    color: var(--color-text);
}

.team__item-cta {
    text-align: left;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 3rem;
}

/* ==================== MEDIA SCREEN (Medium Devices) ==================== */
@media screen and (max-width: 1024px) {
    .team__container {
        align-items: center;
        width: 20rem;
        margin: 2rem 2rem 2rem 2rem;
        height: fit-content;
    }

    .team__item {
        display: flex;
        flex-direction: column;
        background: var(--color-bg-variant);
        text-align: center;
        border-radius: 2rem;
        border: 1px solid transparent;
        margin: 2rem 2rem 2rem 2rem;
        height: 10rem;
        width: fit-content;
    }
    
    .team__item:hover{
        border-color: var(--color-primary-variant);
        background: transparent;
    }
    
    .team__item__image{
        margin-top: 1rem;
        border-radius: 7rem;
        margin-left: 1rem;
        align-items: center;
        overflow: hidden;
        height: 12rem;
        width: 12rem;
    }


}

/* ==================== MEDIA SCREEN (Small Devices) ==================== */
@media screen and (max-width: 600px) {
    .team__container {
        align-items: center;
        width: 20rem;
        margin: 2rem 2rem 2rem 2rem;
        height: fit-content;
    }

    .team__item {
        display: flex;
        flex-direction: column;
        background: var(--color-bg-variant);
        text-align: center;
        border-radius: 2rem;
        border: 1px solid transparent;
        height: 20rem;
        width: 7rem;
    }
    
    .team__item:hover{
        border-color: var(--color-primary-variant);
        background: transparent;
    }
    
    .team__item__image{
        margin-top: 1rem;
        border-radius: 7rem;
        margin-left: 1rem;
        align-items: center;
        overflow: hidden;
        height: 8rem;
        width: 8rem;
    }
}